---
import Layout from '../layouts/Layout.astro'
import Tools from '../sections/Tools.astro'
import Projects from '../sections/Projects.astro'
import Footer from '../sections/Footer.astro'
---

<Layout title="Michał Kunert - Fullstack JS dev">
	<main>
	    <Tools />
        <Projects />
	</main>
	<Footer />
</Layout>
