---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Badge from '../components/Badge.astro';
import Headline from '../components/Headline.astro';
---

<Layout title="Michał Kunert - Fullstack JS dev">
	<main>
        <section class="mx-auto max-w-7xl py-16 px-8">
            <Badge>Projects</Badge>
            <Headline class="mt-8">
                An overview of my work
            </Headline>
        </section>
	</main>
	<Footer />
</Layout>
