---
import { Icon } from 'astro-icon';
---

<footer class="bg-white text-black">
    <div class="max-w-7xl mx-auto px-8 py-12 md:grid grid-cols-3 space-y-8 md:space-y-0">
        <span class="syne font-extrabold text-xl block text-center md:text-left">
            MK
        </span>
        <div class="text-center">
            <p>Get in touch with me on</p>
            <a href="mailto:miichal95@gmail.com" class="syne text-xl">
                miichal95@gmail.com
            </a>
        </div>
        <ul class="flex gap-4 justify-center md:justify-end">
            <li>
                <a href="https://www.linkedin.com/in/michal-kunert/" target="_blank">
                    <Icon name="jam:linkedin" class="w-6 fill-black" />
                </a>
            </li>
            <li>
                <a href="https://github.com/kunertmichal/" target="_blank">
                    <Icon name="jam:github" class="w-6 fill-black" />
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/m4jkelooo/" target="_blank">
                    <Icon name="jam:instagram" class="w-6 fill-black" />
                </a>
            </li>
        </ul>
    </div>
</footer>
