---
import Badge from '../components/Badge.astro'
import Headline from '../components/Headline.astro'
import Link from '../components/Link.astro'
import ProjectItem from '../components/ProjectItem.jsx'

const projects = [
    {
        id: 1,
        title: 'Astro',
        description: 'The new way to build websites.',
        url: 'https://astro.build',
        image: 'https://picsum.photos/300'
    },
    {
        id: 2,
        title: 'Another project',
        description: 'Another project.',
        url: 'https://example.com',
        image: 'https://picsum.photos/300'
    },
]
---

<section class="mx-auto max-w-7xl py-16 lg:py-24 px-8 relative">
    <img
        src='../../bg-1.png'
        alt='bg-1'
        class='absolute top-0 md:-top-3/4 lg:-top-full -left-1/2 max-w-full'
    />
    <div class="text-center">
        <Badge>Projects</Badge>
        <Headline class="mt-8 mb-24 relative">
            <img
                src='/headline-img-1.png'
                class='absolute left-0 top-1/2 transform -translate-y-3/4 hidden lg:block'
            />
            <span class="z-10 relative">An overview of my work</span>
        </Headline>
    </div>
    <ul class="bg-black/40 relative">
        {projects.map((project, index) => (
            <li class="border-t border-white first:border-0">
                <ProjectItem
                    client:load
                    project={{
                        ...project,
                        index,
                    }}
                >
                    <Link href={project.url}>Visit site</Link>
                </ProjectItem>
            </li>
        ))}
    </ul>
</section>
